<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tlwneglwen</title>
</head>
<body>
 <h1>

Forfait pour la France uniquement






Tarification Forfait (voix+sms illimite) Data

Vers les numéros fixes, mobiles non surtaxés, et la messagerie vocale
(depuis et vers la France métropolitaine, les pays de l'UE et les DOM)


1 Go
9,99€

5 Go
12,50€

10 Go
15,00 €

20 Go
22,00 €

50 Go
25,00 €

100 Go
50,00 €


(Un prorata temporis est appliqué lors de l’activation du forfait, mais pas lors de sa désactivation. Un forfait ne peut être activé et résilié au cours d’un même cycle de facturation pour un abonné donné.

Appels voix illimités, 7 jours sur 7 et 24 heures sur 24, dans la limite de 99 correspondants différents maximum au cours d'un cycle de facturation, et de 2h maximum par appel. La cession des appels, les appels depuis et vers les plateformes téléphoniques, centres d’appels, via des dispositifs de type callback (mise en relation et/ou fonction de rappel) sont interdits.

Appels voix illimités, 7 jours sur 7 et 24 heures sur 24, dans la limite de 99 correspondants différents maximum au cours d'un cycle de facturation, et de 2h maximum par appel. La cession des appels, les appels depuis et vers les plateformes téléphoniques, centres d’appels, via des dispositifs de type callback (mise en relation et/ou fonction de rappel) sont interdits.

SMS illimités, 7 jours sur 7 et 24 heures sur 24, hors SMS surtaxés, Push SMS et Chat SMS.

MMS illimités depuis la France Métropolitaine, vers les numéros mobiles de France Métropolitaine uniquement, dans la limite de 99 correspondants différents au cours d’un cycle de facturation, puis décompté hors forfait aux tarifs des communications au compteur. N'inclue pas MMS depuis la France Métropolitaine vers l’étranger, MMS surtaxés, MMS en roaming (de toutes zones vers toutes zones).

(5) Par défaut, la communication au delà du forfait est permise. Pour bloquer la consommation au-delà du forfait, l'option "Portefeuille de bundles data temps-réel" peut-être souscrite.
Communication data au-delà du forfait facturées au tarif de 0,044€/Mo pour les forfaits 3GB-5GB-10GB (data) et 1GB-5GB-10GB (illimité voix/sms + data) ; et au tarif de 0,020€/Mo pour les forfaits 12GB-20GB-50GB-100GB Go (data) et 20GB-30GB-50GB-100GB (illimité voix/sms + data).



(6) Transatel se réserve le droit de suspendre la commercialisation ou la production d’un forfait moyennant un préavis de 3 mois. Transatel se réserve le droit de suspendre le service et/ou de résilier le forfait et/ou d’appliquer une majoration en cas d’utilisation abusive, frauduleuse, non raisonnable, ou ne correspondant pas à un usage normal, de l’offre. Sont notamment considérées comme telles l’utilisation de forfaits en situation de roaming permanent (ou lorsque les usages roaming sont anormalement élevés par rapport à l’usage national et/ou récurrents) ou un usage abusif des appels vers l’Union Européenne (anormalement élevés par rapport à l’usage national et/ou récurrents) ou des ratios d’appels et/ou de SMS entrants/sortants largement déséquilibrés (<0,5) ou une utilisation par des infrastructures réseau (routeur, modem, …) et non par des terminaux utilisateurs ou une utilisation excessive générant une rentabilité négative pour Transatel sur une durée significative.




PORTABILITE









Entrante
Sortante

 Frais de portabilité par ligne
3,00 €
0,00 €

</h1>
</body>
</html>